/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* resets */
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	vertical-align: baseline;
  font-family: monospace, monospace;
  color: var(--accent)
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: var(--accent);
}

a, p, span {
  font-weight: 500;
  font-style: normal;
  color: var(--c, --accent, white);
  vertical-align: baseline;
}

a:hover {
  background-color: var(--accent);
  color: black;
}

html {
  font-size: 100%;
}

:root {
  --accent: #ff64ff;
  --background: url("/images/backgrouds/omori-space.png");
}

body {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    var(--background),
    no-repeat;
  
  background-size: cover;
}

ul {
	list-style: circle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

.no-scroll {
  overflow-y: hidden;
}

.scroll-override {
  overflow-y: auto;
}

.page {
  margin-bottom: 120vh;
}


.headbox {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
}

.topnav a {
  flex-basis: 0px;
  flex-grow: 1;
  color: var(--accent);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: var(--accent);
  color: black;
}

/* box with stuff */
.box {
  width: 600px;
  padding: 15px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.65);
  background-size: 100%;
  border: solid var(--accent);
  border-width: 2px;
  position: relative;
}

.boxmsg {
  width: 400px;
  padding: 15px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.65);
  background-size: 100%;
  border: solid var(--accent);
  border-width: 2px;
  align-items: center;
}

/* centered text */
.txt {
  width: 600px;
  padding: 10px;
  margin: auto;
}

.mobiletext {
  font-size: 0pt;
  padding: 0px;
  margin: 0px;
}
